.app {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

body {
  overflow-x: hidden;
}

.population-card {
  background-color: #412B48;
  color:white;
}
.color-text {
  color:#C3BCC5
}
.btn-submit-location {
  background-color: #412b48 !important;
  margin-top: 9.5%;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.long-image-scroll {
  overflow-y: scroll;
}
.cardVlist {
  height:500px;
}
.btn-submit-location:hover {
  color: white;
}
.select-options {
  margin: 17px;
}
.app .header .name {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  color: #303030;
}

.app .header .logo {
  width: 100%;
}
.select-form {
    font-size: 10px;
    background-color: #D9D4DB;
    padding-bottom:1%;
}

.app .main {
  display: flex;
  justify-content: center;
  align-self: center;
}
.app .main > div {
  margin: 0;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
  width: 322px;
}

@media (min-width: 576px) {
  .selects-in-line {
    margin-left: 0% !important;
  }
}

@media (min-width: 768px) {
  .selects-in-line {
    margin-left: 0% !important;
  }
}

@media (min-width: 992px) {
  .selects-in-line {
    margin-left: 30% !important;
  }
}

@media (min-width: 1200px) {
  .selects-in-line {
    margin-left: 30% !important;
  }
}

body {
	overflow-x: hidden;
}
@media (max-width: 768px) {
  .app .main {
    flex-direction: column;
  }
  .selects-in-line {
    margin-left: 0% !important;
  }
  .app .main > div {
    margin: 0 0 20px 0;
  }
}
.row {
  margin-left: 0px;
}
.navbar {
  background-color: #28192E;
  color: white;
  font-size: 18px;
}
